<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Let's Gamble</title>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>

  <header>
    <header>
      <h1>Comibear's Gambling</h1>
    </header>
  </header>

  <nav>
    <a href="/">Home</a>
    <a href="/users">Members</a>
    <a href="/chat">Chat</a>
    <a href="/game">Game</a>
    <% if(isLoggedIn) { %>
      <a href="/logout">Logout</a>
    <% } else { %>
      <a href="/login">Login</a>
    <% } %>
  </nav>

  <section>
    <% if (isLoggedIn) { %>
      <h1>Welcome to the Gambling Website, <%= nickname%> user</h1>
    <% } else { %>
      <h1>Welcome to the Gambling Website, Please log in first.</h1>
    <% } %></h1>
    <h2>Rule Book</h2>
    <p>1. First if you log in, Each user will be allocated 100,000 dollars.</p>
    <p>2. Each user can bring other users' money through the game.</p>
    <p>3. If you go into the members, it's ranked based on money, so try to win first place!!</p>
  </section>

</body>
</html>