<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/login.css" />
  <title>Login Page</title>
</head>

<body>
  <section class="login">
    <h2>Register</h2>
    <ul>
    <form id="register" action="/register" method="post">
      <li>
       <input
         required
         id="nickname"
         type="text"
         placeholder="nickname"
         name="nickname"
       />
     </li>
     <li>
       <input
         required
         id="reg_username"
         type="text"
         placeholder="username"
         name="username"
       />
     </li>
     <li>
       <input
         required
         id="reg_password"
         type="password"
         placeholder="password"
         name="password"
       />
     </li>
     <% if (errormsg) { %>
      <a style="color: red;"><%= errormsg%></a><br>
    <% } %>
    <br>
     <li><input type="submit" value="register" /></li>
   </form>
 </ul>
 <a href="/login">Login Page</a>
</section>

</body>
</html>